<h2><%= article[:title] %></h2>
<p><%= article[:reading_time] %> reading minutes</p>

<img src="<%= article[:image] %>" style="width:100%; max-width: 500px;height:auto;" >

<p style="font-size:14pt;"><%= article[:description] %></p>

<p>Read More:</p> <a href = "<%= article[:link] %>">  <%= article[:link] %></a>

<hr>